:root{
    --color-whitebg: #fff;
    --color-border:#464646;
    --color-categ1: #68abed;
    --color-categ2: #4ead50;
}
*,
*::before,
*::after {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-size: 62.25%;
}
body{
    font-size: 1.6rem;
    box-sizing: border-box;
    font-family: sans-serif;
    background-image: url(../images/gradient-pink.png);
    background-size: cover;
}
/*label{
    cursor:pointer;
}*/
.container{
    position: absolute;
    height:auto;
    width:100%;
}
/* header */
.header{
    z-index: 1;
    display:flex;
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-image: url(../images/gradient-teal.png);
    background-size:contain;
    border-bottom: 2px solid var(--color-border);
}
.header__center{
    width:50%;
    text-decoration: underline;
    text-align: center;
    color:var(--color-whitebg);
    
    font-size:  4vw;
}
.header__side{
    font-size: 3vh; /* note to self: research vh */
    width: 25%;
}
.header__side > input {
    height: 50%;
    width: 100%;
    background-color: var(--color-whitebg);
}
/* blog */
.blog{
    font-size: 2vh;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 90%;
    width: 100%;
}
.card{
    height:30%;
    width:40%;
    margin: 2% 1%;
    padding: 2%;
    background-color:var(--color-whitebg);
    box-shadow: 3px 3px 10px 1px var(--color-border);
}
.card__world{
    color:var(--color-categ1);
}
.card__design{
    color:var(--color-categ2);
}
.card__date{
    color:gray;
}
.card > div {
    margin-top:20%;
}
.footer{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(../images/gradient-teal.png);
    background-size:contain;
    border-top: 2px solid var(--color-border);
    padding: 10px 0;
}
.footgrid{
    padding: 10px 0;
    text-align: center;
}