*,
*::before,
*::after {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    margin-top: 10%;
    font-family:Arial, Helvetica, sans-serif;
    
}

form {
    height: auto;
    margin: 0 auto;
    max-width: 600px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 2% 0;
}

.box {
    width: 100%;
    height: 50%;
    
}
#agreementBox{
    width: 50%;
}

/* Content above this line for adjusting flex box */

h1{
    text-align: center;
}

input[type=text], input[type=password], input[type=tel], input[type=email] {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1%;
}

input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=email]:focus{
    border: 2px solid #8bc0eb;
    border-radius: 0.25rem;
    outline: transparent; /*Chrome user agent stylesheet gives a black outline on focus*/
}

label{
    font-weight: bold;
}

span, .termsBtn{
    font-size:60%;
}

button{
    border: 1px solid transparent;
    border-radius: 0.25rem; /*gives buttons rounded edges*/
    color:#fff;
    cursor:pointer; 
    padding: 1% 0;
}

button:not(.termsBtn){
    width: 100%;
}

.register{
    background-color:#418bca;
}

.signIn{
    background-color:#5bb85d;
}